@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    /* color */
    --color-primary: #1C2233;
    --color-light-primary: #2D3444;

    --color-secondary: #59637D;
    --color-secondary-dark: #535C73;

    --color-text-primary: #fff;
    --color-text-light-primary: #8E5BA6;

    /* properties */
    font-size: 16px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/* structures */
body{
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 768px;
}
.header{
    margin-bottom: 40px;
}


/* Typography */
.header h1{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight:600;
    text-transform: capitalize;
    text-align: center;
}
#search{
    color: var(--color-text-primary);
    font-weight:200;
    font-size: .8rem;
}
#search::placeholder{
    color: gainsboro;
    font-weight: lighter;
}
h3{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.location-text{
    font-size: .8rem;
    color: var(--color-text-light-primary);
    font-weight: 600;
}
.current{
    font-size: 1.4rem;
    font-weight: 700;
}
.other-info{
    font-size: .9rem;
    font-weight: 500;
    color: whitesmoke;
}

/* components */
.search{
    margin: 20px auto;
    width: 300px;

}
#search{
    width: 100%;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: var(--color-secondary);
}
.weather-update{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-secondary-dark);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.location-text{
    padding: 15px 10px;
    background-color: var(--color-light-primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.temperature{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.other-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}
.status{
    margin: 10px;
}
.pressure{
    margin-bottom: 10px;
}
